ul
    li
        div.tab-item.active(data-tab="#movie")
            img(src=require('./svg/movie.svg'))
    li
        div.tab-item(data-tab="#music")
            img(src=require('./svg/music.svg'))
    li
        div.tab-item(data-tab="#book")
            img(src=require('./svg/book.svg'))