#bottom {

  ul {
    &:after {
      content: '';
      height: 0;
      width: 0;
      visibility: hidden;
      display: block;
      clear: both;
    }
    li {
      width: 33.3%;
      float: left;
    }
  }
}

.tab-item {
  height: 44px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  &.active {
    background-color: #DFDFDF;
  }
  img {
    height: 32px;
    width: 32px;
    margin: 6px;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  }
}