#bottom {

  ul {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: auto;
  }
}

.tab-item {
  height: 54px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  &.active {
    background-color: #DFDFDF;
  }
  img {
    height: 38px;
    width: 38px;
    margin: 8px;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  }
}