div#movie
    div#movie-select
        ul
            li
                span(data-tab="hot" class="active") 正在热映
            li
                span(data-tab="now") 即将上映
            li
                span(data-tab="top") Top250
    div#movie-list
    div.loading
        img(src=require('./svg/loading.svg'))
div#music 豆瓣音乐
div#book 豆瓣图书