#top {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #1ABC9C;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  color: #fff;
}

#content {
  height: calc(100% - 105px);
  overflow: auto;
  width: 300%;
  transform: translate(0%);
  transition: transform .5s;
}

#movie, #music, #book {
  width: 33.3%;
  float: left;
  height: 100%;
  overflow: hidden;
}

#bottom {
  box-sizing: border-box;
  height: 55px;
  background-color: #eee;
  border-top: 1px solid #ECF0F1;
}
